<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="vendor/silverstripe/framework/tests/bootstrap.php"
         colors="true"
         cacheResult="false"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
         displayDetailsOnIncompleteTests="true"
         displayDetailsOnSkippedTests="true"
         beStrictAboutOutputDuringTests="true"
         failOnDeprecation="false"
         failOnPhpunitDeprecation="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
>
    <testsuites>
        <testsuite name="Default">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source includeUncoveredFiles="true">
        <include>
            <directory suffix=".php">code/</directory>
        </include>
        <exclude>
            <directory suffix=".php">tests/</directory>
        </exclude>
    </source>
</phpunit>
